.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1b2f33;
  min-height: 100vh;
  display: flex;
  font-size: calc(12px + 1vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #a1bd77;
}

h3 {
  color: #a1bd77;
}

h5 {
  color: #a1bd77;
}

p.post {
  margin: 3em 0;
}
